<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minsales.admin.dao.AdminDeliveryDao">
        
        
        <!-- query -->
        <select id="query" parameterType="Delivery" resultType="Delivery">
            <!-- 模糊查询 ${} 代替 #{} -->
        	select *from delivery
        	<where>
        	    <if test="name!=null">
        	    	and name like '%${name}%';
        	    </if>
        	</where>
        </select>
         
        <!-- insert -->
        <insert id="add" parameterType="Delivery">
        	insert into delivery (name) values (#{name});
        </insert>
        
        <!-- delete -->
        <delete id="delete" parameterType="Delivery">
        	delete from delivery where id=#{id};
        </delete>
        
        <!-- update -->
        <update id="update" parameterType="Delivery">
        	update delivery set name=#{name} where id=#{id};
        </update>
          
</mapper>